.LoginLogout {
    top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    min-width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    color: white;
    background-color: black;
}

button {
    width: 260px;
    font-weight: bold;
    font-size: 1em;
}

p {
    margin: 0px;
    padding-bottom: 3px;
}