.elFooter {
    top: 0px;
    min-width: 100%;
    max-height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    background-color: darkturquoise;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
}

